*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-spartan);
}

:root{
    /* primary color */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* natural color */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-agenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    /* font family */
    --ff-spartan: 'Spartan', sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main section */
.main{
    width: min(90rem, 100%);
    min-height: 50rem;
    background-color: var(--white);
    background-image: url(../img/bg-pattern-top-desktop.svg), url(../img/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*------------- top section ---------------*/
.top-section{
    background-color: transparent;
    width: min(69rem, 90%);
    display: flex;
    flex-wrap: wrap;
}

/* left side */
.top_left{
    width: calc(100% / 2);
}

.top_left h1{
    color: var(--very-dark-magenta);
    font-size: 3rem;
    max-width: 12ch;
    font-weight: 700;
}

.top_left p{
    font-size: 15px;
    color: var(--dark-grayish-magenta);
    font-weight: 400;
    max-width: 36ch;
    line-height: 1.5;
    margin-top: .5rem;
}

/* right side */
.top_right{
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

/* all card */
.card{
    width: 80%;
    display: flex;
    align-items: center;
    background-color: var(--light-grayish-agenta);
    padding: 1.1rem 1.5rem;
    border-radius: .5rem;
}

.card_img-wrapper{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card p{
    color: var(--very-dark-magenta);
    font-size: 15px;
    font-weight: 700;
    margin-left: 1.5rem;
    line-height: 1;
}

/* separet card */
.card-1{
    transform: translateX(-6rem);
}
.card-2{
    transform: translateX(-3rem);
}


/*----------- bottom section ---------*/
.bottom_section{
    background-color: transparent;
    width: min(69rem, 90%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 4.3rem;
}

/* all card */
.bt_card{
    width: calc(100% / 3 - 1.5rem);
    min-width: 21.6rem;
    background-color: var(--very-dark-magenta);
    position: relative;
    padding: 2.5rem 1.6rem 2rem 1.7rem;
    border-radius: .5rem;
}

.bt_card-img{
    width: 2.5rem;
    border-radius: 50%;
    display: inline-block;
}

.name{
    display: inline-block;
    position: absolute;
    top: 2.7rem;
    left: 5.5rem;
    font-size: 13px;
    color: var(--white);
    font-weight: 500;
}

.title{
    display: inline-block;
    position: absolute;
    top: 4rem;
    left: 5.5rem;
    font-size: 13px;
    font-weight: 400;
    color: var(--soft-pink);
}

.bt_card p{
    color: var(--white);
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 1.5rem;
}

/* separet card */
.bt_card-2{
    transform: translateY(1rem);
    margin: 0 .5rem;
}
.bt_card-3{
    transform: translateY(2rem);
}



/* ----------- responsive -------------- */
@media(max-width: 1169px){
    /* main section */
    .main{
        padding: 4.6rem 0 7rem 0;
    }

    /* botton section */
    .bottom_section{
        justify-content: center;
    }
}


@media(max-width: 1116px){
    /* top left side */
    .top_left{
        width: 100%;
    }

    .top_left h1{
        margin-inline: auto;
        text-align: center;
        font-size: 2.5rem;
    }

    .top_left P{
        margin-inline: auto;
        text-align: center;
    }

    /* top right side */
    .top_right{
        width: 100%;
        margin-top: 2.5rem;
    }

    .card{
        width: 100%;
        margin: .5rem 0;
        flex-direction: column;
    }

    .card_img-wrapper{
        justify-content: center;
    }

    .card p{
        margin-top: 1rem;
    }

    .card-1{
        transform: translateX(0);
    }
    .card-2{
        transform: translateX(0);
    }
}


@media(max-width: 550px){
    /* main section bg */
    .main{
        background-image: url(../img/bg-pattern-top-mobile.svg), url(../img/bg-pattern-bottom-desktop.svg);
    }

    /* top left side */
    .top_left h1{
        font-size: 2rem;
    }
}


@media(max-width: 375px){
    /* main section bg */
    .main{
        background-image: url(../img/bg-pattern-top-mobile.svg), url(../img/bg-pattern-bottom-mobile.svg);
    }
}